div.busy { 
  position:absolute;
  top: 40%;
  left: 50%;
  display:none;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-weight: bold;
}